* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-image: url(../assets/images/prism-background.png);
  background-repeat: repeat;
  height: 100%;
}

.top-nav {
  border-bottom: 10px solid #683ab7;
}

.page-content {
  flex: 1 0 auto;
}

.fixed-bottom {
  border-top: 10px solid #683ab7;
}