.contact-link {
  width: 40%;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  color: #7c7c7d;
  background-color: #fff;
  transition: 0.5s;
  border-radius: 5%;
  padding: 0.5em;
}

.contact-link:hover {
  cursor: pointer;
  /* color: #eee; */
  color: #3e3e3e;
  background-color: #B7B3BD;
  transition: 0.5s;
}