.contact-link {
  width: 100%;
  text-align: center;
  color: #7c7c7d;
  background-color: #fff;
  transition: 0.5s;
  border-radius: 5%;
  padding: 0.5em;
}

.contact-link:hover {
  cursor: pointer;
  color: #eee;
  /* color: #3b00b3; */
  /* background-color: #B7B3BD; */
  background-color: #683ab7;
  transition: 0.5s;
}